.header {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    border-bottom: 2px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    background-color: white;
    /* box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08); */
}

.body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(241, 241, 241);
    padding: 10px;
}

body{
    background-color: #f0f0f0;
}

.logo {
    width: 100px;
}

.logo-container{
    display: flex;
}

.header-text{
    align-self: center;
    font-size: 2em;
    margin: 0px 10px;
    font-weight: bold;

}

.nav-items > ul {
    font-size: 20px;
    display: flex;
    margin-right: 30px;
}

.nav-items > ul > li {
    margin: 10px;
    list-style-type: none;
}

.nav-items > ul > li > a {
    text-decoration: none;
    color:black
}

.search {
    width: 200px;
    margin: 10px auto 10px auto;
    display: flex;
}

.btn-green{
    background-color: rgb(92, 185, 92);
}

.btn-default{
    background-color: #f0f0f0;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
}

.res-card > img {
    width: 190px;
    object-fit: cover;
    height: 150px;
    border-radius: 10px;
}

.res-card {
    width: 190px;
    /* border: 1px solid black; */
    padding: 15px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
}

.res-card:hover{
    box-shadow: 0px 0px 50px rgb(214, 214, 214);
    cursor: pointer;
    /* box-shadow: 0.5px 0.5px 10px black; */
}

.res-card-data{
    padding: 0px 5px;
}